<h1>Manage your classes</h1>
<ul>
  <li><%= link_to 'Classes', controller: 'dance_classes' %></li>
  <li><%= link_to 'Instructors', controller: 'instructors' %></li>
  <li><%= link_to 'Level', controller: 'levels' %></li>  
  <li><%= link_to 'Students', controller: 'students' %></li>
</ul>

